In [3]:
import pandas as pd

# To Extract the file downloaded from Kaggle
import zipfile

# Download the dataset from kaggle
import kaggle

In [ ]:
# Download Dataset from Kaggle using Kaggle API
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

In [6]:
# Extract Zip File
zipfile_name = 'archive.zip'

with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [30]:
# Read CSV File
london_bikes = pd.read_csv('london_merged.csv')

In [31]:
#  Explore the Data
london_bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [32]:
london_bikes.shape

(17414, 10)

In [33]:
london_bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [34]:
# Count the unique values in the weather_code column
london_bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [35]:
london_bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [36]:
# Specifying Column Names that I want to use.
new_cols_dict = {
    'timestamp' : 'time',
    'cnt' : 'count',
    't1' : 'temperature',
    't2' : 'temperature_feels_like_C',
    'hum' : 'humidity_percent',
    'wind_speed' : 'wind_speed_kph',
    'weather_code' : 'weather',
}

# Renaming the columns to the specified column names
london_bikes.rename(new_cols_dict, axis=1, inplace=True)

In [37]:
#  Changing the humidity values to percentage
london_bikes.humidity_percent = london_bikes.humidity_percent / 100

In [38]:
#  Creating Season Dict
season_dict = {
    '0.0' : 'Spring',
    '1.0' : 'Summer',
    '2.0' : 'Fall',
    '3.0' : 'Winter'
}

# Changing Season Data type from Float to String, and mapping the values.
london_bikes.season = london_bikes.season.astype('str')
london_bikes.season = london_bikes.season.map(season_dict)

# Creating Weather Dict
weather_dict = {
    '1.0' : 'Clear',
    '2.0' : 'Scattered Clouds',
    '3.0' : 'Broken Clouds',
    '4.0' : 'Cloudy',
    '7.0' : 'Rain / Light Rain Shower / Light Rain',
    '10.0' : 'Rain With Thunderstorm',
    '26.0' : 'Snowfall',
    '94.0' : 'Freezing Fog'
}

# Changing Weather Data Type From Float to String and mapping the values.
london_bikes.weather = london_bikes.weather.astype('str')
london_bikes.weather = london_bikes.weather.map(weather_dict)

In [39]:
# Checking the values
london_bikes.head()

,time,count,temperature,temperature_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken Clouds,0.0,1.0,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,Winter

In [40]:
# Writing the final dataFrame to an Excel File that we will use in our Tableau Visualisations.
london_bikes.to_excel('london_bikes_final.xlsx', sheet_name='Data Frames')